#forgotPassword {
  text-decoration: none;
  color: rgb(1, 52, 255);
}
.rem-for {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.rem {
  color: black;
}
.existAccount {
  color: black;
}

a.linkLogin {
  color: rgb(1, 52, 255);
  padding-left: 5%;
}
