
.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(85, 85, 128);
}
.inputBox{
    display:flex;
    width:280px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin: 20px;

}
::placeholder{
    color: rgb(183, 164, 141);
}
input{
        background: transparent;
        border: none;
        font-size:medium;
        color:  rgb(183, 164, 141);
}
.containr{
    margin-top: 50px;
}
.btn-primary{
    margin-top: 20px;
    width: 200px;
}
.existAccount{
    margin-top: 5px;
}

.linkLogin{
    text-decoration: none;
    color:  rgb(183, 164, 141);
}


h1{
    font-size: xx-large;
    padding-top: 10px;
}
center{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
body{
    width:100%;
    background-image: url('./img/pexels-pixabay-235985.jpg');
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
}
.occp{
    border: hidden;
    border-radius: 4px;
    background-color:  rgb(85, 85, 128);
    color:  rgb(183, 164, 141);;
}
